[
  {rabbit, [
    {loopback_users, []},
    {cluster_nodes, {['rabbit@rabbitmq03', 'rabbit@rabbitmq04'], disc}},
    {default_user, <<"{{ rabbitmq_user }}">},
    {default_pass, <<"{{ rabbitmq_password }}">}
  ]}
].
