[
  {rabbit, [
    {loopback_users, []},
    {cluster_nodes, {['rabbit@rabbitmq05', 'rabbit@rabbitmq06'], disc}},
    {default_user, <<"{{ rabbitmq_user }}">>},
    {default_pass, <<"{{ rabbitmq_password }}">>}
   # {default_user, <<"admin">>},
   # {default_pass, <<"Abc@4321">>}
  ]}
].
